{% extends "navbar.html" %}
{% load static %}


{% block content %}

<div id="content">
  <div class="container-fluid">
    <div id="infoCards" class="row">
      <!-- Info cards will be dynamically inserted here -->
    </div>

    <div class="row">
      <div id="mastitisCard" class="col-md-8 mb-4">
        <!-- Mastitis chart will be dynamically inserted here -->
      </div>

      <div id="milkInfoCard" class="col-md-4 mb-4">
        <!-- Milk info will be dynamically inserted here -->
      </div>
    </div>

    <div class="row">
      <div id="animalWellnessCard" class="col-md-6 mb-4"></div>

      <div id="map" class="col-md-6 mb-4">
        <!-- Map info will be dynamically inserted here -->
      </div>
    </div>
  </div>
</div>

{% endblock %}


