{% extends "navbar.html" %}
{% load static %}

{% block content %}
  
<div class="row mt-5 ml-1 mr-1">
  <div class="col-lg-4">

    <div class="card mb-4" style="border-radius: 10%; background-color: white; color: black;">
      <div class="card-body text-center">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar"
          class="rounded-circle img-fluid" style="width: 150px;">
        <h5 class="my-3">{{devise.name}} </h5>
        <p class="mb-1">{{devise.phone}}</p>
        <p class="mb-4">{{devise.email}}</p>
        <div class="d-flex justify-content-center mb-2">
          <a href="{% url 'edit-devise' devise.pk %}" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
    
    <div class="card mb-4 mb-lg-0 shadow" style="border-radius: 10px; background-color: white; color: black;">
      <div class="card-body p-0">
        <ul class="list-group list-group-flush rounded-3">

          <!-- Location Links -->
          <li class="list-group-item p-3 bg-light">
            <div class="d-flex align-items-start">
              <div>
                <p class="mb-1"><a href="{% url 'map-devise' devise.pk %}" class="text-decoration-none text-dark">Device current location</a></p>
                {% if location %}
                  <p class="mb-0"><a href="{% url 'update-location' devise.pk %}" class="text-decoration-none text-dark">Update device location</a></p>
                {% else %}
                  <p class="mb-0"><a href="{% url 'add-location' devise.pk %}" class="text-decoration-none text-dark">Add device location</a></p>
                {% endif %}
              </div>
            </div>
          </li>
    
          <!-- API Calls -->
          <li class="list-group-item d-flex justify-content-between align-items-center p-3 bg-light">
            <a href="{% url 'api-list' devise.pk %}" class="text-decoration-none text-dark">Device API calls</a>
          </li>
    
          <!-- Thresholds & Chart -->
          <li class="list-group-item p-3 bg-light">
            {% if api_threshold %}
              <p>
                <a href="{% url 'update-api-threshold' pk=api_threshold.pk devise_pk=devise.pk %}" class="text-decoration-none text-dark">Update API Thresholds</a> |
                <a href="#popup1" class="text-decoration-none text-dark">View chart</a>
              </p>
              <ul class="ps-3">
                <li style="color: red;">&ge; {{api_threshold.red}} RED</li>
                <li style="color: orange;">&ge; {{api_threshold.orange}} ORANGE</li>
                <li style="color: blue;">&ge; {{api_threshold.blue}} BLUE</li>
                <li style="color: green;">&ge; {{api_threshold.green}} GREEN</li>
                <li style="color: pink;">&lt; {{api_threshold.green}} PINK</li>
              </ul>
            {% else %}
              <p class="mb-0"><a href="{% url 'add-api-threshold' devise.pk %}" class="text-decoration-none text-dark">Add API Thresholds</a></p>
            {% endif %}
          </li>
        </ul>
    
        <!-- Pie Chart Section -->
        <div class="p-3">
          <div id="myChart" style="width: 100%; max-width: 500px; height: 250px;"></div>
        </div>
    
        <!-- Google Chart Script -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
          
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Type', 'Count'],
              ['Used', {{used}}],
              ['Remaining', {{remaining}}]
            ]);
            
            var options = {
              title: 'API Calls Chart',
              is3D: true,
              width: '100%',
              height: 250,
              colors: ['{{color}}', 'grey'],
              pieSliceText: 'value'
            };
            
            var chart = new google.visualization.PieChart(document.getElementById('myChart'));
            chart.draw(data, options);
          }
        </script>
      </div>
    </div>

  </div>
  
  <div class="col-lg-8">
    <div class="card mb-4" style="border-radius: 5%;background-color: #a97e7e94; color: white;" >
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.name}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.email}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Phone</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.phone}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Mobile</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.phone}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Address1</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.address1}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Address2</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.address2}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">device_id</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.devise_id}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">serial_no</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.serial_no}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">chipset_no</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.chipset_no}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">purchase_date</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.purchase_date}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">time_of_sale</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.time_of_sale}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">warrenty</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.warrenty}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">land</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.land}} acrs</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">amount_paid</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.amount_paid}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">balance_amount</p>
          </div>
          <div class="col-sm-9">
            <p class="mb-0">{{devise.balance_amount}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</div>
{% endblock %}
